*{
  margin: 0;
  padding: 0;
}

body {
  margin: 30px;
}
h1 {
  font-size: 28px;
  margin: 20px 0;
}
h2 {
  margin: 20px 0;
}

p {
  font-size: large;
  margin: 15px 0;
}

figure {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

figcaption {
  margin-top: 10px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  body {
    background-color: aliceblue;
  }

  h1 {

  }

  p {
    font-size: larger;
  }

  figcaption {
    font-size: large;
  }
}
