*{
  margin: 0;
  padding: 0;
}

body {
  margin: 30px;
}
h1 {
  font-size: 28px;
  margin: 20px 0;
}
h2 {
  margin: 20px 0;
}

p {
  font-size: large;
  margin: 15px 0;
}

figcaption {
  margin-top: 10px;
}

img {
  max-width: 100%;
}

figure {
  margin-bottom: 30px;
}
